:host() {
  display: flex;
  flex-flow: column;
  flex-flow: column;
  background: #adab50;
  height: 100%;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
}

:host() ::ng-deep app-search .box,
:host() ::ng-deep app-search .box .container-4 {
  width: 100%
}

:host() ::ng-deep app-search-input,
:host() ::ng-deep app-icon {
  display: block;
}

:host() ::ng-deep app-icon {
  height: 300px;
}

:host() ::ng-deep app-icon .wi {
  font-size: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

:host() ::ng-deep app-icon .wi:before {
  line-height: 300px;
}

:host() ::ng-deep app-search .box .container-4 input#search {
  width: 100%;
  border-radius: 0;
}

.weekly {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.show-more {
  display: block;
  text-align: center;
  height: 43px;
  width: 43px;
  margin-left: 45%;
}

.show-more:hover {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

:host() ::ng-deep app-search-input app-search .box .container-4 input#search {
  color: #fff;
}