:host() {
  display: flex;
  flex-flow: column;
  flex-flow: column;
  background: #adab50;
  height: 100%;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
}

:host() ::ng-deep app-search .box,
:host() ::ng-deep app-search .box .container-4 {
  width: 100%
}

:host() ::ng-deep app-search-input,
:host() ::ng-deep app-icon {
  display: block;
}

:host() ::ng-deep app-icon .wi {
  font-size: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

:host() ::ng-deep app-icon .wi:before {
  line-height: 300px;
}

:host() ::ng-deep app-search .box .container-4 input#search {
  width: 100%;
  border-radius: 0;
}

.weekly {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.weekly ::ng-deep	app-week:first-child {
	padding-left: 0;
}

.weekly ::ng-deep	app-week:last-child {
	border-right: none;
}

.show-more {
  display: block;
  text-align: center;
  height: 43px;
  width: 43px;
}

.show-more:hover {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
    padding: 0 20px;
}

:host() ::ng-deep app-search-input app-search .box .container-4 input#search {
  color: #fff;
}

.weather-header {
	display:inherit;
	margin-top: 300px;
}

.weather-header ::ng-deep app-day {
	align-self: center;
}

.current-temperature {
	color: white;
	font-size: 3rem;
	display: inline-block;
}

.current-temperature__degree {
	margin-right: .5rem;
}

.weather-body {
	display: inherit;
	align-items: baseline;
}