:host() {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 5px;
	border-right: 1px solid #ffffff6e;
}

:host() ::ng-deep app-icon :hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

:host() ::ng-deep app-day p	 {
	font-size: 13px;
}
:host() ::ng-deep app-icon img {
	margin-top: 15px;
	vertical-align: unset;
	width: 30px;
}

:host() ::ng-deep app-min-max-temp .temp {
    font-size: 20px;
}

@media screen and (min-width: 900px) {
	:host() {
		padding: 0 15px;
	}

	:host() ::ng-deep app-day p	 {
		font-size: 20px
	}
	:host() ::ng-deep app-icon img {
		width: 45px;
	}
}