.box {
  margin: 0 auto;
  width: 300px;
  height: 50px;
}

.box:hover {
  cursor: pointer;
}

.container-4 {
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search {
  width: 100%;
  text-transform: uppercase;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 1rem;
  float: left;
  color: #d6d6d6;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  letter-spacing: .05rem;
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
}

input#search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff;
	opacity: .5;
 }
 input#search::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
	opacity: .5;
 }
 input#search:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
	opacity: .5;
 }
 input#search:-moz-placeholder { /* Firefox 18- */
	color: #fff;
	opacity: .5;
 }

.container-4 button.icon {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: transparent;
  height: 50px;
  width: 50px;
  color: #d6d6d6;
  opacity: 0;
  font-size: 10pt;
  transition: all .55s ease;
}

.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -100px;
}

.container-4:hover button.icon .fa:hover {
  cursor: pointer;
}

.city {
  color: #d6d6d6;
  list-style: none;
  font: 400 13.3333px Arial;
}

.city:hover {
  cursor: pointer;
}

.city-list {
  padding-left: 15px;
  margin: 0;
}
